body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#puzzle-holder {
    width: 200px; /* Adjust the size of the puzzle holder */
    height: 100vh; /* Adjust the height of the puzzle holder */
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    float: left;
    box-sizing: border-box;
}

#puzzle-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    max-width: calc(100% - 220px); /* Adjust to fit the remaining space */
    height: 100vh;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.puzzle-piece {
    cursor: grab;
    user-select: none;
    position: relative;
    margin: 0; /* Set margin to 0 to prevent any unwanted offsets */
}

.puzzle-piece img {
    user-drag: none;
    user-select: none;
}
