body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#puzzle-board {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust as needed */
    grid-gap: 10px;
    max-width: 800px; /* Adjust the size of the puzzle board */
    height: 80vh; /* Adjust the height of the puzzle board */
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
}


.puzzle-piece {
    cursor: grab;
    user-select: none;
    position: relative;
    margin: 0; /* Set margin to 0 to prevent any unwanted offsets */
}

.puzzle-piece img {
    user-drag: none;
    user-select: none;
}
